---
layout: page
title: mdpo
permalink: /mdpo/
---

{% if site.mdpos.size == 0 %}
  <h2>No mdpo found</h2>
{% endif %}

<div class="mdpos">
  {% for mdpo in paginator.mdpos %}
    <article class="mdpo">
      <h1>
        <a href="{{ site.baseurl }}{{ mdpo.url }}">{{ mdpo.title }}</a>
      </h1>

      <div>
        <span class="date">
          {{ mdpo.date | date: "%Y-%m-%d" }}
        </span>

        <ul class="tag">
          {% for tag in mdpo.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="entry">
        {{ mdpo.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ mdpo.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#xE000; Previous
      </a>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#xE001;
      </a>
    </span>
  {% endif %}
</div>
